.fixed-bottom-nav {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.fixed-bottom-nav > div > ul {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  color: #5a6566;
}
.fixed-bottom-nav > div > ul > h3 {
  color: #888d8d;
}
.fixed-bottom-nav > ul > li {
  color: #a4a9a9;
  font-size: 15px;
  line-height: 24px;
}
