@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter Tight", sans-serif;
}

.container {
  margin: 0 20px;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
  color: #15191a;
  font-weight: 500;
  margin: 15px 0;
}

h3 {
  font-size: 22px;
  line-height: 24px;
  color: #15191a;
  font-weight: 500;
  margin: 15px 0;
}

.h1-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 260px;
  background-color: white;
  padding: 35px 20px;
  gap: 20px;

  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 20px;
}
